<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SuiteTest" >
<listeners>
    <listener class-name="com.guru99.utility.Reporting"/>
</listeners>
	<test  name="Chrome">
	<parameter name="browser" value="chrome"/>
		<classes>

			<class name="com.guru99.testCases.Tc_LoginTestUsingxl" />

		</classes>
	</test> <!-- Test -->
	<!-- <test name="Firefox">
	<parameter name="browser" value="firefox"/>
		<classes>

			<class name="com.guru99.testCases.Tc_LoginTestUsingxl" />

		</classes>
	</test> --> <!-- Test -->
</suite> <!-- Suite -->
